backend/info.txt
backend/backend/include
backend/backend/Lib
backend/backend/Scripts
backend/backend/pyvenv.cfg
backend/.gitigonre
backend/backend/a.png
backend/backend/a.png
backend/backend/co relation n.R
backend/backend/lab 6 1 before.png
